/**
 * Navigation
 */


.nav {
	background: #fff;
	margin-top: 10px;
	position: relative;

	@media only screen and (min-width: $screen-md) {
		width: 500px;
		margin-left: 20px;
		float: left;
	}

	@media only screen and (min-width: $screen-lg) {
		margin-left: 40px;
	}


	&::before,
	&::after {
		content: "";
		display: none;
		height: 55px;
		position: absolute;
		top: 0;
	}

	&::before {
		width: 43px;
		background: url("#{$assets}/images/nav-left.png");
		left: -43px;
	}

	&::after {
		width: 69px;
		background: url("#{$assets}/images/nav-right.png");
		right: -69px;
	}

	@media only screen and (min-width: $screen-md) {
		&::before,
		&::after {
			content: "";
			display: block;
		}
	}

	ul {
		list-style-type: none;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

		@media only screen and (min-width: $screen-md) {
			height: 55px;
		}
	}

	li {
		display: flex;
	}

	a {
		text-decoration: none;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		padding: 0 10px;
		transition: .3s all;

		&:hover {
			background: #000;
			color: #fff;
		}
	}
}