{% extends "@App/@layout_unsecured.html.twig" %}

{% block content %}

    <div class="mainContent">
        <div class="width-container text-left">

            <h1 class="title">Franšíza</h1>
            <p><strong>Vaše vlastní podnikání pod ŠPIZZA křídly</strong></p>
            <p><strong>Naše vyladěné know-how je vaše prosperita a společný úspěch</strong></p>

            <h2 class="title">Proč ŠPIZZA?</h2>
            <p>
                <ul>
                    <li>Máme roky ověřené postupy a zkušenosti, které pro nás byly někdy i hořké, ale máme za to, že i tato chuť patří do života! Úkroky stranou jsme rádi udělali za vás :)</li>
                    <li>Vaše peníze máme v úctě a chováme se k nim jako k našim vlastním investicím.</li>
                    <li>Nabízíme pestrý výběr produktů, které lidem chutnají, jsou cenově dostupné a jsou prověřeny časem</li>
                    <li>Kvalitou je pro nás výraz v očích našich zákazníků, kteří se k nám vracejí</li>
                    <li>Jsme lidé. Když se někdy něco nepovede, máme srdce na dlani a zákazníkům náš nezdar bohatě kompenzujeme.</li>
                    <li>Jsme jedna velká rodina. Pokud se v ní někomu zrovna nedaří, na "nájem" nám nemusí přispívat.</li>
                </ul>
            </p>

            <h2 class="title">Co nabízíme?</h2>
            <p>
                <ul>
                    <li>Práci, která je náročná, ale poctivá.</li>
                    <li>Dlouhodobý příjem a zhodnocení Vaší investice.</li>
                    <li>Osobní rozvoj a realizaci.</li>
                    <li>Cenné rady při růstu Vaší vlastní ŠPIZZA rodiny.</li>
                    <li>Podílení se na vývoji značky.</li>
                    <li>Možnost rodinného byznysu.</li>
                    <li>Nízké ceny potravin založené na doslova obludných odběrech.</li>
                    <li>Transparentnost cen.</li>
                </ul>
            </p>

            <h2 class="title">Co potřebujeme od vás?</h2>
            <p>
                <ul>
                    <li>Ochotu denně se podílet na chodu svého občerstvení.</li>
                    <li>Absolvování zaučení.</li>
                    <li>Zkušenosti v oblasti řízení zaměstnanců.</li>
                    <li>Zájem na vlastním růstu.</li>
                    <li>Minimálně 1,2 až 1,5 mil. Kč vlastních prostředků na přestavbu a technologii, 200 tis. licence na dva roky a měsíční poplatek 7% z tržeb.</li>
                    <li>Ideálně také zkušenost s gastro provozem.</li>
                    <li>Město s nejméně 30 tis. obyvateli a nízkou nezaměstnaností.</li>
                    <li>Minimální prostor 70 - 130 m2 v atraktivní lokalitě, s vysokou průchodností lidí, výkladem do ulice a možností parkování.</li>
                </ul>
            </p>

            <h2 class="title">Se vším vám pomůžeme!</h2>
            <p>
                Hlavní pracovní náplní franšízora (tedy nás) je poskytovat franšízantovi (tedy Vám) know – how značky a průběžně jej aktualizovat. Za toto hradíte franšízový poplatek a poplatek za správu konceptu. Zároveň se Vám však snažíme pomoci i v ostatních oblastech.
            </p>
            <div class="row">
                <div class="col-6">
                    <h3 class="title">Před otevřením provozovny:</h3>
                    <p>
                        <ul>
                            <li>Vyhledání vhodné lokality.</li>
                            <li>Rada, jak na dobrý “průzkum trhu”.</li>
                            <li>Konzultace architektonické studie a projektu provozovny.</li>
                            <li>Možnost výstavby a vybavení provozovny na klíč.</li>
                            <li>Nábor a ŠPIZZA školení kompletního personálu včetně Vás, kde Vás zasvětíme do jednotlivých procesů (provoz, kvalita, marketing, finance, personalistika, kontrola restaurací, věrnostní systém, software aj.).</li>
                        </ul>
                    </p>
                </div>
                <div class="col-6">
                    <h3 class="title">Po otevření provozovny:</h3>
                    <p>
                        <ul>
                            <li>Zajištění dodávky surovin, obalů a ostatních materiálů (zejména marketingových) včetně technologie a logistiky.</li>
                            <li>Nastavení marketingové strategie a pomoc při jeho lokalizaci.</li>
                            <li>Kontrolní systémy provozovny.</li>
                            <li>Kompletní softwarové vybavení – pokladní systém, sklady, objednávky, personalistika.</li>
                            <li>Hodnocení výkonnosti Vašeho týmu a hledání optimálního řešení.</li>
                            <li>Vývoj a dodržování standardů značky.</li>
                        </ul>
                    </p>
                </div>
            </div>

            <h2 class="title">Krok po kroku k Vašemu vysněnému Špizza stánku:</h2>

            <p>
                <ol>
                    <li>Jako první krok nám prosím vyplňte kontaktní formulář níže. Nejpozději do 14 dnů se Vám ozveme a domluvíme se na osobní schůzce.</li>
                    <li>Tam Vás obeznámíme s detaily ŠPIZZA franšízy. Na základě Vašich finančních možností a preferované lokality zvolíme buď stávající zavedenou provozovnu nebo výstavbu nové.</li>
                    <li>Bude Vám nabídnuta možnost strávit den v provoze a nasát ŠPIZZA atmosféru.</li>
                    <li>V případě, že splníte základní předpoklady možné spolupráce s naším franšízovým konceptem, absolvujete motivační rozhovor s jednatelem společnosti Tomášem Bézou.</li>
                    <li>Následuje potvrzení vhodné provozovny.</li>
                    <li>Úhrada zálohy na vstupní poplatek.</li>
                    <li>Následně nastoupíte do zaškolování (ale neznamená to, že budete chodit “za školu”!) :)</li>
                    <li>Po dokončení školení, včetně všech povinných zkoušek, nebude nic bránit k zahájení naší franšízové spolupráce.</li>
                </ol>
            </p>

            <h2 class="title">Napište nám a my se Vám ozveme</h2>

            <p>Napište nám na <a href="mailto:majitel@spizza.cz">majitel@spizza.cz</a> a ve zprávě uveďte své osobní a kontaktní údaje, dále popis lokality, o kterou máte zájem a ve zkratce nám popište, proč chcete, abyste byli ŠPIZZA.</p>

            <p>
                <div><strong>Tomáš Béza</strong></div>
                <div><i>majitel</i></div>
                <div>+420 724 584 261</div>
                <div><a href="mailto:majitel@spizza.cz">majitel@spizza.cz</a></div>
            </p>

        </div>
    </div>

{% endblock %}