{% extends "@App/@layout_unsecured.html.twig" %}

{% block content %}

    <div class="mainContent">
        <div class="width-container">

            <h1 class="title">O nás</h1>
            <p>
                Špizza rodinná pizza je moderní koncept rychlého občerstvení, kde se rychle a kvalitně nají celá rodina včetně celiaků a veganů.
            </p>
            <p>
                Zapomeňte na smažení. Ze základních surovin tu vyrábíme pizzu a gyros. Vše na místě, z vlastních receptur a bez polotovarů.
            </p>

        </div>
    </div>

{% endblock %}