{% extends "@App/@layout_unsecured.html.twig" %}

{% block content %}

    <div class="mainContent">
        <div class="width-container text-left">

            <h1 class="title">Obchodní podmínky ŠPIZZA PIZZA</h1>

            <h2 class="title">Platební podmínky</h2>
            <p>
                <ul>
                    <li>Minimální cena objednávky určená k rozvozu je 129,- Kč.</li>
                    <li>Platba může být zákazníkem uskutečněna v hotovosti v měně CZK, stravenkami (Sodexo, Edenred, UP), platební kartou nebo kartou Benefit Plus. Platbu kartou prosím hlaste při objednávce. Na platbu stravenkami nevracíme.</li>
                    <li>Všechny ceny jsou uvedeny včetně DPH.</li>
                    <li>Objednávky přijímáme do konce uvedené doby rozvozu.</li>
                    <li>Na rozvoz pizzy se nevztahují slevové akce, které jsou platné na prodejních stáncích ŠPIZZA PIZZA.</li>
                </ul>
            </p>

            <h2 class="title">Doručení objednávek</h2>
            <p>
                <ul>
                    <li>ŠPIZZA PIZZA se snaží doručit objednávku v co nejkratší době, nejdéle však do 60 minut.</li>
                    <li>V případě, že nastane nepředvídaná situace (dopravní nehoda, náhlé zhoršení povětrnostních vlivů, zavinění třetí osobou apod.) bude zákazník obsluhou informován o čase dodání.</li>
                </ul>

            </p>

            <h2 class="title">Akce a slevy</h2>
            <p>
                <ul>
                    <li>O všech akcích a slevách jsou zákazníci informováni dopředu na našich stránkách <a href="//wwww.spizza.cz">www.spizza.cz</a> a na
                        <a target="_blank" href="https://www.facebook.com/spizzapizza/">Facebooku</a>.</li>
                    <li>Všechny akce a slevy musí být uplatněny již při objednávce.</li>
                    <li>Nelze se zpětně dožadovat požadované akce či slevy.</li>
                </ul>
            </p>

            <h2 class="title">Reklamace</h2>
            <p>
                <ul>
                    <li>Doporučujeme zkontrolovat, jestli dodané zboží souhlasí s Vaší objednávkou.</li>
                    <li>Pokud bylo cokoliv v nepořádku, je zapotřebí okamžitě zavolat na naše reklamační oddělení.</li>
                    <li>Reklamaci lze uskutečnit pouze v den, kdy byl produkt zakoupen. Na reklamace z předchozích dnů nebude brán zřetel.</li>
                </ul>
            </p>

            <h2 class="title">Kontakty</h2>
            <p>
                <div><strong>Objednávky</strong>: 77 55 11111</div>
                <div><strong>Reklamační oddělení</strong>: 734 158 883</div>
                <div><strong>Obchodní oddělení</strong>: 734 158 882</div>
            </p>

        </div>
    </div>

{% endblock %}